## The Athletes Events Dataset

In the next few questions,  used the datasets `athlete_events.csv` and `regions.csv`.

The datasets used throughout this activity are saved inside the folder `/data`.

More information about this dataset can be found on Kaggle at this link:

https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results
    
**References:**

Rgriffin. (2018). 
“120 years of Olympic history: athletes and results.” 
https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results .

MIT. Professional Certificated in Data Engineer.

Run the code cell below to load the datasets in pandas.

In [13]:
import pandas as pd
df_athletes = pd.read_csv("data/athlete_events.csv")
df_regions = pd.read_csv("data/noc_regions.csv")

Run the code cells below to visualize the first few rows in your dataframe.

In [14]:
df_athletes.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [15]:
df_regions.head()

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles
2  ALB      Albania                   NaN
3  ALG      Algeria                   NaN
4  AND      Andorra                   NaN

### Question 1

Select all the rows from the *dataframe, `df_athletes`,* where `Year` is greater than 1980. Assign this *dataframe* to *`ans1a`*.

Next, select all the rows in *`ans1a`* where `Team` is equal to `China`, `United States`, `Italy`, or `Spain`. Save your results in a *dataframe* called *`ans1b`*.

In [18]:
ans1a= df_athletes.loc[df_athletes.Year> 1980]
ans1b = ans1a.loc[ans1a.Team.isin(['China','United States','Italy','Spain'])]
ans1b

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
10,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10 kilometres,NaN
11,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 50 kilometres,NaN
12,6,Per Knut Aaland,M,31.0,188.0,75.0,United States,USA,1992 Winter,1992,Winter,Albertville,Cross Country Skiing,Cross Country Skiing Men's 10/15 kilometres Pu...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270850,135458,Rami Zur,M,27.0,175.0,77.0,United States,USA,2004 Summer,2004,Summer,Athina,Canoeing,"Canoeing Men's Kayak Doubles, 500 metres",NaN
270851,135458,Rami Zur,M,31.0,175.0,77.0,United States,USA,2008 Summer,2008,Summer,Beijing,Canoeing,"Canoeing Men's Kayak Singles, 500 metres",NaN
270852,135458,Rami Zur,M,31.0,175.0,77.0,United States,USA,2008 Summer,2008,Summer,Beijing,Canoeing,"Canoeing Men's Kayak Singles, 1,000 metres",NaN
270891,135471,Jos Zurera Alberca,M,22.0,162.0,52.0,Spain,ESP,1988 Summer,1988,Summer,Seoul,Weightlifting,Weightlifting Men's Bantamweight,NaN
270892,135471,Jos Zurera Alberca,M,26.0,162.0,52.0,Spain,ESP,1992 Summer,1992,Summer,Barcelona,Weightlifting,Weightlifting Men's Bantamweight,NaN

## Question 2
    
Use a left *join* to combine the *dataframes `df_athletes`* and *`df_regions`* into a new *dataframe* called *`ans2`*. Set the column `NOC` as the key column.

## Question 3

*Pivot* the *dataframe `df_regions`*  by setting:

- index = `region`
- columns = `NOC`
- values = `notes`

Assign the new *dataframe* to *`ans3`*.

## Question 4

Group the entries of the *dataframe `df_athletes`* by the columns `"Season"` and `"Medal"`. Assign the new *dataframe* to *`ans4`*.

Answer the following question: 

In which Olympic games did the first group of athletes participate?

### Question 5

Perform the following aggregation operations on *`df_athletes`*:

- Compute the `max` and the `min` on the column *`Age`*.
- Compute the `mean` on the column *`Weight`*.

Assign the new *dataframe* to *`ans5`*.