## The Athletes Events Dataset

In the next few questions,  used the datasets `athlete_events.csv` and `regions.csv`.

The datasets used throughout this activity are saved inside the folder `/data`.

More information about this dataset can be found on Kaggle at this link:

https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results
    
**References:**

Rgriffin. (2018). 
“120 years of Olympic history: athletes and results.” 
https://www.kaggle.com/heesoo37/120-years-of-olympic-history-athletes-and-results .

MIT. Professional Certificated in Data Engineer.

Run the code cell below to load the datasets in pandas.

In [4]:
import pandas as pd
df_athletes = pd.read_csv("data/athlete_events.csv")
df_regions = pd.read_csv("data/noc_regions.csv")

Run the code cells below to visualize the first few rows in your dataframe.

In [5]:
df_athletes.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

### Question 1

Select all the rows from the *dataframe, `df_athletes`,* where `Year` is greater than 1980. Assign this *dataframe* to *`ans1a`*.

Next, select all the rows in *`ans1a`* where `Team` is equal to `China`, `United States`, `Italy`, or `Spain`. Save your results in a *dataframe* called *`ans1b`*.

## Question 2
    
Use a left *join* to combine the *dataframes `df_athletes`* and *`df_regions`* into a new *dataframe* called *`ans2`*. Set the column `NOC` as the key column.

## Question 3

*Pivot* the *dataframe `df_regions`*  by setting:

- index = `region`
- columns = `NOC`
- values = `notes`

Assign the new *dataframe* to *`ans3`*.

## Question 4

Group the entries of the *dataframe `df_athletes`* by the columns `"Season"` and `"Medal"`. Assign the new *dataframe* to *`ans4`*.

Answer the following question: 

In which Olympic games did the first group of athletes participate?

### Question 5

Perform the following aggregation operations on *`df_athletes`*:

- Compute the `max` and the `min` on the column *`Age`*.
- Compute the `mean` on the column *`Weight`*.

Assign the new *dataframe* to *`ans5`*.